/* NautilusPompilius */
@font-face {
    font-family: 'NautilusPompilius';
    font-style: normal;
    font-weight: normal;
    src: local(''),
    url('../fonts/NautilusPompilius.woff2') format('woff2');
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/open-sans-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
}

p, h2 {
    margin: 0;
}

div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*------------------------------Header------------------------------*/
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    background: #6f4e37;
    z-index: 1000;
    height: 80px;
}

.positive {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: limegreen;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.negative {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: red;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header > .container {
    width: 100%;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__title {
    display: flex;
    font-family: 'NautilusPompilius', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: normal;
    color: #fffdd0;
    margin: 0 60px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media screen and (max-width: 768px) {
    .header {
        height: 40px;
    }

    .header__title {
        font-size: 25px;
    }

    .positive, .negative {
        font-size: 15px;
    }
}

/*------------------------------main----------------------------------*/

.main {
    background: #dedede;
    margin-top: 80px;
}

.main__title {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

.main__title p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: normal;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background: #1685a3;
    border-radius: 30px;
    margin-bottom: 16px;
    padding: 8px;
    transform: scale(1);
    transition: transform 0.1s ease 0s;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: normal;
    border: none;
    color: #EEEEEE;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.1s ease 0s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .main {
        margin-top: 40px;
    }

    .main__title {
        min-height: 50px;
    }

    .main__title p {
        font-size: 20px;
    }

    .card {
        min-height: 125px;
        border-radius: 15px;
        margin-bottom: 16px;
        padding: 8px;
        font-size: 16px;
    }
}

/*------------------------------footer----------------------------------*/
.footer {
    width: 100%;
    background: #3a3e41;
}

.footer__line {
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.footer__content {
    padding-top: 56px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer__logo-pic {
    max-width: 100%;
}

.footer__download-apps {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo-app-store, .footer__logo-google-play {
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.footer__link-app-store, .footer__link-google-play {
    display: block;
    height: 40px;
}

.footer__logo-app-store:hover, .footer__logo-google-play:hover {
    opacity: 1;
}

.footer__body-section-info a:hover {
    text-decoration: underline;
}

.row.privacy-terms {
    display: flex;
    padding: 40px 0 40px 0;
}

.row.privacy-terms > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.privacy-terms > div > a, .row.privacy-terms > div > p {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .footer__content {
        padding-top: 40px;
    }

    .footer__download-apps {
        height: 84px;
    }

    .row.privacy-terms > .footer-inside > a, .row.privacy-terms > .footer-inside > p {
        margin-top: 14px;
    }

    .row.privacy-terms {
        padding: 0 0 14px 0;
    }
}